@import './variables.scss';

// Global styles
body {
  color: var(--color-text-primary);
  background-color: var(--color-surface-100);
}

// Utility classes
.text-primary {
  color: var(--stb-primary);
}

.text-secondary {
  color: var(--stb-secondary);
}

// Animation classes
.hover-lift {
  transition: transform var(--transition-speed);
  &:hover {
    transform: var(--hover-transform);
  }
}